<div>
  <!-- #formRef="ngForm" is for angualr form, MUST have this -->
  <form #formRef="ngForm" id="new_prob_form">
    <!--'form-group' is a bootstrap class, which will group -->
    <!-- all items in the div together. They will have similar -->
    <!-- space between them. -->
    <div class="form-group">
      <!-- label 'for' attribute is associated with input 'id' attr -->
      <label for="problemName">Problem Name</label>
      <!-- [(ngModel)] is a two-way binding -->
      <input type="text" class="form-control" id="problemName"
             name="problemName" placeholder="Enter Problem Name" [(ngModel)]="newProblem.name" required/>
    </div>

    <div class="form-group">
      <label for="problemDesc">Problem Description</label>
      <textarea type="text" class="form-control" id="problemDesc"
                name="problemDesc" placeholder="Enter Problem Description" [(ngModel)]="newProblem.desc" required></textarea>
    </div>

    <div class="form-group">
      <label for="difficulty">Problem Name</label>
      <select class="form-control" id="difficulty" name="difficulty" required [(ngModel)]="newProblem.difficulty">
        <!-- Define default status of selection list -->
        <!-- the value of default option should be as same as the value of difficulty in DEFAULT_PROBLEM -->
        <option value="" disabled selected>Select Difficulty</option>
        <!-- [value] is binding with the user's choice -->
        <option *ngFor="let diff of difficulties" [value]="diff">
          {{diff}}
        </option>
      </select>
    </div>

    <div class="row form-group">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary pull-right" (click)="addProblem()">
          Add Problem
        </button>
      </div>
    </div>
  </form>
</div>